@using HirolaMVC.Models
@using HirolaMVC.ViewModels
@model HomeVM
@{
    bool isBannerCreated = false;
}
<div class="hiraola-slider_area-2">
    <div class="main-slider">
        @foreach (Slide slide in Model.Slides)
        {
            <div class="single-slider">
                <div class="slider-image">
                    <img height="845" width="1743" src="assets/images/@slide.Image" alt="slider" />
                </div>
                <div class="slider-content-wrapper">
                    <div class="container-fluid custom-container">
                        <div class="slider-content">
                            <h4 data-animation="fadeInDown"
                                data-delay="0.5s"
                                class="sub-title">
                                <span>@slide.SubTitle</span>
                            </h4>
                            <h1 data-animation="fadeInLeft"
                                data-delay="0.5s"
                                class="main-title">
                                @slide.Title
                            </h1>
                            <p data-animation="fadeInRightBig" data-delay="0.5s">
                               @slide.Description
                            </p>
                          
                        </div>
                    </div>
                    <!-- container -->
                </div>
            </div>

        }
    </div>
</div>




<!-- Begin Hiraola's Shipping Area Two -->
<div class="hiraola-shipping_area hiraola-shipping_area-2">
    <div class="container">
        <div class="shipping-nav">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <img src="~/assets/images/shipping-icon/1.png" alt="Hiraola's Shipping Icon">
                        </div>
                        <div class="shipping-content">
                            <h6>Free Uk Standard Delivery</h6>
                            <p>Designated day delivery</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <img src="~/assets/images/shipping-icon/2.png" alt="Hiraola's Shipping Icon">
                        </div>
                        <div class="shipping-content">
                            <h6>Freshyly Prepared Ingredients</h6>
                            <p>Made for your delivery date</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <img src="~/assets/images/shipping-icon/3.png" alt="Hiraola's Shipping Icon">
                        </div>
                        <div class="shipping-content">
                            <h6>98% Of Anta Clients</h6>
                            <p>Reach their personal goals set</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <img src="~/assets/images/shipping-icon/4.png" alt="Hiraola's Shipping Icon">
                        </div>
                        <div class="shipping-content">
                            <h6>Winner Of 15 Awards</h6>
                            <p>Healthy food and drink 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hiraola's Shipping Area Two End Here -->
<!-- Begin Hiraola's Product Area -->
<div class="hiraola-product_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hiraola-section_title">
                    <h4>Our Products</h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="hiraola-product_slider">
                  @foreach (Product product in Model.Products)
                    {
                        <!-- Begin Hiraola's Slide Item Area -->
                        <div class="slide-item">
                            <div class="single_product">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="~/assets/images/@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true).Image" alt="Hiraola's Product Image">
                                        <img class="secondary-img" src="~/assets/images/@product.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==false).Image" alt="Hiraola's Product Image">
                                    </a>
                                   
                                    <div class="add-actions">
                                        <ul>
                                            <li><a class="hiraola-add_cart" asp-action="addbasket" asp-controller="basket" asp-route-id="@product.Id" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a></li>
                                           
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="hiraola-product_content">
                                    <div class="product-desc_info">
                                        <h6><a class="product-name" href="single-product.html">@product.Name</a></h6>
                                        <div class="price-box">
                                            <span class="new-price">@product.Price</span>
                                        </div>
                                       
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hiraola's Slide Item Area End Here -->
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hiraola's Product Area End Here -->



@foreach (Banner banner in Model.Banners)
{
  
  
        <div class="static-banner_area">4
            
            <div class="container">
                <div class="row">
                    <div>
                    </div>
                    <div class="col-lg-12">
                        <div class="static-banner-image">
                            <img height="345" width="1110" src="assets/images/@banner.Image" />
                        </div>
                        <div class="static-banner-content">
                            <span>@banner.SubTitle</span>
                            <h2>@banner.Title</h2>

                            <p class="schedule">

                                @banner.Description
                            </p>
                            <div class="hiraola-btn-ps_left">
                                <a asp-action="index" asp-controller="shop" class="hiraola-btn">Shopping Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    

  
}





<!-- Begin Hiraola's Product Tab Area -->
<div class="hiraola-product-tab_area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-tab">
                    <div class="hiraola-tab_title">
                        <h4>New Products</h4>
                    </div>
                
                </div>
                <div class="tab-content hiraola-tab_content">
                    <div  class="tab-pane active show" role="tabpanel">
                        <div class="hiraola-product-tab_slider-2">
                         @foreach (Product product1 in Model.NewProducts)
                            {
                                <!-- Begin Hiraola's Slide Item Area -->
                                <div class="slide-item">
                                    <div class="single_product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="~/assets/images/@product1.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true).Image" alt="Hiraola's Product Image">
                                                <img class="secondary-img" src="~/assets/images/@product1.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==false).Image" alt="Hiraola's Product Image">
                                            </a>
                                            <div class="add-actions">
                                                <ul>
                                                    <li>
                                                        <a class="hiraola-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart">
                                                            <i class="ion-bag"></i>
                                                        </a>
                                                    </li>
                                                   

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="hiraola-product_content">
                                            <div class="product-desc_info">
                                                <h6>
                                                    <a class="product-name" href="single-product.html">
                                                      @product1.Name
                                                    </a>
                                                </h6>
                                                <div class="price-box">
                                                    <span class="new-price">@product1.Price</span>
                                                </div>
                                              
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Hiraola's Slide Item Area End Here -->
                            }
                          
                        </div>
                    </div>
                
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hiraola's Product Tab Area End Here -->







<div class="hiraola-banner_area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-item img-hover_effect">
                    <a href="shop-left-sidebar.html">
                        <img class="img-full" src="~/assets/images/photo1.webp" alt="Hiraola's Banner">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-item img-hover_effect">
                    <a href="shop-left-sidebar.html">
                        <img class="img-full" src="~/assets/images/photo2.webp" alt="Hiraola's Banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <img src="~/assets/images/i.webp">
</div>







